:root {
    --color-white: #ddc4dd;
    --color-black: #bb1e1e;
    --color-glass: rgba(255, 255, 255, 0.05);
    --color-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--color-white);
  }
  body {
    min-height: 100vh;
    display: flex;
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  .wrapper {
    position: relative;
    /* transform: translate(-50%, -50%); */
    /* top: 80%; */
    /* left: 50%; */
    position: relative; /* Change to relative */
    margin: 20px auto; /* Add margin for spacing */
    font-size: 16px;
  }
  .heading {
    text-align: center;
    margin-bottom: 2em;
    
  }
  .heading h1 {
    text-shadow: var(--color-shadow);
    font-size: 6.2em;
    font-weight: 800;
    letter-spacing: 0.15em;
    

  }
  .heading h3 {
    font-size: 1.6em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--color-glass);
    backdrop-filter: blur(12px);
    box-shadow: var(--color-shadow);
    padding: 8px 30px;
    display: inline-block;
  }
  .countdown {
    width: 95vw;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .box {
    width: 45%; /* Adjust the width for smaller screens */
    max-width: 200px; /* Set a max-width for flexibility */
    height: 29vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 10px;
   
  }
  span.num {
    background-color: var(--color-glass);
    backdrop-filter: blur(12px);
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 4em;
    box-shadow: var(--color-shadow);
    border-radius: 0.1em;
  }
  span.num:after {
    content: "";
    position: absolute;
    background-color: var(--color-glass);
    height: 100%;
    width: 50%;
    left: 0;
  }
  span.text {
    font-size: 1em;
    background-color: var(--color-white);
    color: var(--color-black);
    display: block;
    width: 80%;
    position: relative;
    text-align: center;
    bottom: 20px;
    padding: 0.7em 0;
    font-weight: 600;
    border-radius: 0.3em;
    box-shadow: var(--color-shadow);
  }
  div.img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
div.img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 5px;
  border: 5px solid #73AD21;
}

@media screen and (max-width: 768px) {
  /* .box { */
    /* width: 100%; */
  /* } */
  .div.img {
    flex-direction: column;
    align-items: center;
  }
}


